/* sandbox for testing the link works */
h1 {
    font-size: 2rem;
    color: red;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.rock {
    color: green;
}

.paper {
    color: purple;
}

.scissors {
    color: blue;
}